@media screen and (max-width: 1000px) {
  html,
  body {
    overflow-x: hidden;
  }
  .navbar .logo {
    font-size: 30px;
  }

  .navbar {
    height: 110px;
  }
  .navbar .flex {
    flex-direction: column;
  }
  .navbar ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .grid,
  .showcase .grid,
  .stats .grid,
  .cloud .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .showcase {
    height: auto;
  }
  .showcase-text {
    text-align: center;
    margin-top: 40px;
  }
  .showcase-form {
    justify-self: center;
    margin: auto;
  }
  .container img {
    display: none;
  }
}
@media screen and (max-width: 615px) {
  html,
  body {
    overflow-x: hidden;
  }
  .navbar .logo {
    font-size: 30px;
  }
  /* .navbar {
    height: 70px;
  } */
  /* .toggler {
    display: block;
  } */
  .hamburger {
    display: flex;
  }
  .navbar-links {
    /* display: none; */
    z-index: 101;
    position: absolute;
    right: 0px;
    background-color: var(--primary-color);
    top: 8vh;
    transform: translateX(100%);
    transition: all 0.5s ease-in;
  }
  .navbar-links ul {
    display: flex;
    flex-direction: column;
    width: 30vh;
    height: 92vh;
    align-items: center;
    justify-content: space-around;
  }
  .navbar-links li {
    opacity: 0;
  }

  .navbar-links.active {
    transform: translateX(0%);
  }
  @media screen and (max-width: 375px) {
    html,
    body {
      overflow-x: hidden;
      position: relative;
    }
    .navbar .logo {
      font-size: 30px;
    }
  }
  @keyframes linkShow {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  .toggler:checked + .hamburger > div:before,
  .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
}
