@media (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    /* display: none; */
    position: absolute;
    right: 0px;
    background-color: var(--primary-color);
    top: 8vh;
    transform: translateX(100%);
    transition: all 0.5s ease-in;
  }
  .navbar-links ul {
    display: flex;
    flex-direction: column;
    width: 30vh;
    height: 92vh;
    align-items: center;
    justify-content: space-around;
  }
  .navbar-links li {
    opacity: 0;
  }

  .navbar-links.active {
    transform: translateX(0%);
  }

  @keyframes linkShow {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .toggleMenu .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggleMenu .bar2 {
    opacity: 0;
  }
  .toggleMenu .bar3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  /* .navbar .flex {
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    align-items: center;
  }
  .navbar ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar li {
    text-align: center;
  }
  .navbar-links li a {
    padding: 5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
  .navbar.active {
    height: 100vh;
    width: 50vw;
    float: right;
    opacity: 0.5;
    color: #333;
  }
  */
}
