@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
:root {
  --primary-color: #0564c4;
  --secondary-color: #183792;
  --dark-color: #02345f;
  --light-color: #f4f4f4;
  --main-color: rgba(96, 134, 218, 0.75);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #333;
}
h1,
h2,
h3 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}
p {
  margin: 10px 0;
}
img {
  max-width: 100%;
  display: block;
}
.hidden {
  visibility: hidden;
  height: 0;
}
/* navbar */
.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
  border-bottom: 1px solid #fff;
}
.navbar .flex {
  justify-content: space-between;
}
.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}
.navbar a:hover {
  border-bottom: 2px solid #fff;
}
/* showcase */
.showcase {
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}
.showcase h2 {
  font-size: 40px;
}
.showcase h3 {
  font-size: 25px;
}
.showcase p {
  margin: 20px 0;
}
.showcase .grid {
  overflow: visible;
  grid-template-columns: 55% 45%;
  gap: 30px;
}
.showcase-form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;
}
.showcase-form .form-control {
  margin: 30px 0;
}
.showcase-form input[type="text"],
.showcase-form input[type="email"] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}
.showcase-form input:focus {
  outline: none;
}
.showcase::before,
.showcase::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(-3deg);
  /*
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
  */
}
/* about-showcase */
.about-showcase {
  height: 620px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}
.about-showcase h2 {
  font-size: 40px;
}
.about-showcase h3 {
  font-size: 25px;
}
.about-showcase p {
  margin: 20px 0;
}
.about-showcase .grid {
  grid-template-columns: 1fr;
  grid-template-rows: 30% 70%;
  overflow: visible;
  gap: 30px;
}
/* Stats */
.stats {
  padding-top: 100px;
}
.stats-heading {
  max-width: 500px;
  margin: auto;
  font-size: 2rem;
}
.stats .grid h3 {
  font-size: 30px;
}
.stats .grid p {
  font-size: 20px;
  font-weight: bold;
}
/* cloud */
.cloud .grid {
  overflow: visible;
  grid-template-columns: 4fr 3fr;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
/* products */
.products .card {
  text-align: center;
  margin: 18px 10px 40px;
}
.products .grid {
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
.products .card {
  width: 100%;
  aspect-ratio: 1 / 1.5;
}
.products .card h2 {
  font-weight: 350;
}
.products .card h4 {
  font-weight: 300;
  font-size: 15px;
}

/* About */

.about-container {
  display: grid;
  gap: 1.5rem;
}
/* accordian */
.accordian-link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
.accordian-link i {
  padding: 0.5rem;
}
.accordian-link .fa-caret-up {
  display: none;
}
.answer {
  max-height: 0;
  overflow: hidden;
  position: relative;
  transition: max-height 650ms;
}
.answer::before {
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 90%;
  background-color: #8fc460;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.answer p {
  padding-left: 2rem;
}
.accordian-item:target .answer {
  max-height: 20rem;
}
.accordian-item:target .accordian-link .fa-caret-down {
  display: none;
}

.accordian-item:target .accordian-link .fa-caret-up {
  display: block;
}
